# Default values for Maven projects.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1

javaOpts:
  xmx: 768m
  xms: 512m
  other: -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap -Dsun.zip.disableMemoryMapping=true -XX:+UseParallelGC -XX:MinHeapFreeRatio=5 -XX:MaxHeapFreeRatio=10 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90
image:
  repository: 10.47.247.162:5000/salaboy/spring-cloud-k8s-gateway
  tag: 1.0.25
  pullPolicy: IfNotPresent
service:
  name: spring-cloud-k8s-gateway
  type: ClusterIP
  externalPort: 80
  internalPort: 8080
  annotations:
    fabric8.io/expose: "true"
resources:
  limits:
    cpu: 500m
    memory: 768Mi
  requests:
    cpu: 500m
    memory: 768Mi
probePath: /actuator/health
livenessProbe:
  initialDelaySeconds: 60
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 1
readinessProbe:
  periodSeconds: 40
  successThreshold: 1
  timeoutSeconds: 1
terminationGracePeriodSeconds: 10
